.paginator {
    width: 25em;
    height: 2em;
    font-size: large;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.pageNumber.selectedPage {
    font-weight: 500;
    background-color: #5cbcf6;
    border-color: black;
}

.pageNumber.selectedPage:hover {
    font-weight: 500;
    background-color: #5cbcf6;
}

.pageNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 2em;
}

.pageNumber:hover {
    background-color: rgb(196, 196, 196);
}

.portionPrevButton, 
.portionNextButton {
    background-color: #0e83cd;
    color: rgb(255, 255, 255);
    border: none;
    width: 5em;
    border-radius: 0.1em;
    border: solid 1px;
    font-weight: bold;
    letter-spacing: 1px;
}

.portionPrevButton:hover {
    background-color: #5cbcf6;
    transform: skew(+15deg);
}

.portionNextButton:hover {
    background-color: #5cbcf6;
    transform: skew(-15deg);
}

.portionPrevButton:focus,
.portionNextButton:focus {
    outline: none;
}