.userPhoto {
    width: 150px;
    border-radius: 5px;
}

.usersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}

.userItem {
    margin: 5px;
    height: fit-content;
    width: fit-content;
    border: 1px solid green;
    border-radius: 5px;
}