.userPhoto {
    width: 10em;
    border-radius: 0.2em;
}

.usersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
}

.userItem {
    margin: 5px;
    height: fit-content;
    width: 10em;    
    border: 1px solid green;
    border-radius: 5px;
}
.userStatus {
    width: 10em;
    /* if text line is break show dots */
    /* show '...' in the begining of overflow */
    text-overflow: ellipsis;
    /* show first two lines */
    white-space: nowrap;
    /* hide overflowed text */
    overflow: hidden;
    /*  */
}