.formControl.error input,
.formControl.error textarea
{
    border: solid #4CAF50 1px;
}

.formControl.error span {
    color: #4CAF50  ; 
}

.formSummaryError {
    border:  #4CAF50 1px solid;
    padding: 1em;
    margin: 1em;
    color:  rgb(0, 129, 86); 
    width: auto;
}