.formControl.error input,
.formControl.error textarea
{
    border: solid rgb(0, 201, 134) 1px;
}

.formControl.error span {
    color: rgb(0, 129, 86); 
}

.formSummaryError {
    border:  rgb(0, 129, 86) 1px solid;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    color:  rgb(0, 129, 86); 
    width: auto;
}