.description {
    display: flex;
    margin: 1.2em;
    padding: 1.2em;
    width: fit-content;
    height: fit-content;
    border: solid 1px lightgray;
    border-radius: 0.2em;
}
.contactsBlock {
  margin-bottom: 0.5em;
}
.descriptionRightColunn {
  margin-left: 3em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: solid 1px lightgray;
  border-radius: 0.2em;
}
.descriptionItem {
  margin-bottom: 0.5em;
  border-bottom: solid 1px lightgrey;
  width: fit-content;
}
.editDescriptionButton {
  font-family: "Roboto", sans-serif;
  border-bottom: none;
  outline: 0;
  background: none;
  width: fit-content;
  border: 0;
  color: lightgrey;
  font-size: 14px;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 0.2em;
  transition: all 1s;
}
.editDescriptionButton:hover {
  color: black;
  border: solid 1px black;
  transition: all 1s;
}
.ava_img img {
    width: 150px;
  }
.contactsBlock > div {
  margin-left: 2em;
  width: fit-content;
  border-bottom: solid 1px lightgrey;
}
.contactLink {
  color: lightgray;
  font-size: 1em;
}
.contactLink:hover {
  color: black;
}