.statusBlock {
    display: flex;
    justify-content: center;
}
.statusMessage {
    width: 10em;
    /* if text line is break show dots */
    /* show '...' in the begining of overflow */
    text-overflow: ellipsis;
    /* show first two lines */
    white-space: pre-line;
    /* hide overflowed text */
    overflow: hidden;
    /*  */
}
.statusInput {
    width: 138px;
}
