.app-wrapper {
  display: grid;

  grid-template-areas: "h h" "n c";

  grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(240, 238, 238);
}

