.dialogs {
    display: grid;
    grid-template-columns: 2fr auto 10fr;
    height: 100%;
}

.dialogs a {
    text-decoration: none;
    color: black;
}

.dialogsItems {
    padding: 20px;
}

.verticalSeparator {
    background-color: rgb(129, 129, 129);
    width: 3px;
    border-radius: 1.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messages {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.sendBlock {
    width: fit-content;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: burlywood;
    padding: 20px;
    border-radius: 5px;
}

.sendTextArea {
    background-image: none;
    border-radius: 5px;
    width: max-content;
    height: max-content;
    min-width: 400px;
    min-height: 100px;
    max-width: 400px;
    max-height: 100px;
    border : 2px solid #888;
}

.sendButtonBlock {
    margin-top: 15px;
    margin-left: 60%;
}

.sendButton {
    border-radius: 10px;
    box-shadow: none;
    height: 30px;
    width: 150px;
    border: 1px solid black;
}