.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
}

.dialogs .dialogs_items {
    padding: 10px;
}

.dialogs .active {
    color: red;
}

.dialogs .dialog {
    margin-top: 3px;
    background-color: azure;
    border: 1px solid black;
}

.messages {
    padding: 10px;
}

.messages .messages_item {

}